
<h1>Dashboards#doble</h1>

<h3>Movies by Genre</h3>
<%= pie_chart @movies_by_genre %>
<h3>Most Votes by Movie</h3>
<%= pie_chart @movie_most_five_vote %>
<h3>Most Good Votes by Movie</h3>
<%= bar_chart @good_votes_by_movie %>
